[Unit]
Description=Let's Encrypt! - webroot renewal

[Service]
ExecStart=/etc/letsencrypt/webroot-renewal.sh
Type=oneshot
#StandardOutput=syslog
StandardError=syslog
